.mainform {
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}

.textbox {
    margin-top: 30px;
    width: 400px;
    display: flex;
    margin-left: 38%;
    flex-direction: column;
    justify-content: center;
}

.btnGroup {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}
.btnSubmit {
    width: 100px;
    margin-right: 40px;
}